[submodule "dynamic-bonding-curve"]
	path = dynamic-bonding-curve
	url = https://github.com/MeteoraAg/dynamic-bonding-curve.git
[submodule "damm-v2"]
	path = damm-v2
	url = https://github.com/MeteoraAg/damm-v2.git
